.banner {
  margin: 0 auto;
  max-width: 479px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--footercolor);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/studio-tel/Header-img-tel-min.jpg);
  @include dpi {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../image/studio-tel/Header-img-tel@2x-min.jpg);
  }
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../image/studio-tab/Header-img-min.jpg);
    @include dpi {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../image/studio-tab/Header-img@2x-min.jpg);
    }
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../image/studio-desc/Header.jpg);
    @include dpi {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../image/studio-desc/Header@2x.jpg);
    }
  }
}
.banner__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--hedercolor);
  font-size: 16px;
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 900;
  text-transform: uppercase;
  @include tel {
    width: 360px;
    font-size: 26px;
  }
  @include desc {
    width: 696px;
    height: 120px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.banner__button {
  margin: 0 auto;
}
