// .client__block {
//   padding: 60px 15px;
//   @include desc {
//     padding: 94px 15px;
//   }
// }

.client__list {
  @include flex();
  @media screen and(max-width:1199px) {
    flex-wrap: wrap;
  }
}
.client__item {
  flex-basis: calc((100% - 30px) / 2);
  margin-right: 30px;
  margin-bottom: 30px;
  @media screen and(max-width:767px) {
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include tab {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  @include desc {
    margin-right: 0px;
    margin-bottom: 0px;
    & + & {
      margin-left: 30px;
    }
  }
}
.client__link {
  @include flex();
  max-width: 210px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border var(--time-duration) var(--cubik), color var(--time-duration) var(--cubik);
  &:hover,
  &:focus {
    color: var(--activecolor);
    border: 1px solid var(--activecolor);
  }
  @include tab {
    max-width: 226px;
    height: 92px;
  }
  @include desc {
    max-width: 170px;
    height: 92px;
  }
}

.client__logo {
  fill: currentColor;
}
