.team {
  background-color: var(--filterbutt);
}
.team__card-list {
  @include tab {
    display: flex;
  }
  @media screen and(min-width:768px) and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}
.team__card-item {
  background-color: var(--hedercolor);
  margin-bottom: 30px;
  &:last-child {
    margin-right: 0;
  }
  @include tab {
    margin-right: 30px;
  }

  @media screen and(min-width:768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 2);
    max-width: 354px;
    &:nth-child(even) {
      margin-right: 0;
    }
  }
}

.team__card-shadow {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  margin-bottom: 10px;
  color: var(--headtext);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
}
.team__position {
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 16px;
}
