.client__block {
  padding: 94px 0;
}

.client__list {
  @include flex();
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
}
.client__item {
  @media screen and (max-width: 768px) {
    margin-bottom: 30px;
    flex-basis: calc(100% / 3);
    &:nth-child(even) {
      margin-left: 30px;
    }
  }
  @include min-768 {
    & + & {
      margin-left: 30px;
    }
  }
}
.client__link {
  @include flex();
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border var(--time-duration) var(--cubik), color var(--time-duration) var(--cubik);
  &:hover,
  &:focus {
    color: var(--activecolor);
    border: 1px solid var(--activecolor);
  }
}

.client__logo {
  fill: currentColor;
}
