:root {
  --background: #e5e5e5;
  --activecolor: #2196f3;
  --footercolor: #2f303a;
  --hedercolor: #fff;
  --textcolor: #757575;
  --headtext: #212121;
  --filterbutt: #f5f4fa;
  --cardside: 30px;
  --time-duration: 250ms;
  --cubik: cubic-bezier(0.4, 0, 0.2, 1);
}
